{% extends 'base.html' %}
{% load static %}
{% block title %}Patient List{% endblock %}
{% block styletag %}

.footer, #footer{
        position: absolute;
        bottom: 0%;
        left: 0%;
        right: 0%;
}
.bodyuser{
    background-color: #f7ddbb;
    
  }
.bodyuser-1{
    background-color: black;
    color: white;

    
  }
h3{
    font-size: 40px!important;
    font-weight: 700!important;
    font-style: italics;
  }

{% endblock styletag %}


{% block body %}
    <section class="bodyuser-1 section-padding-50-0 py-3">

        <div class="container" style="align-items: center; justify-content: center;display: flex;">
            <div class="col-12 col-sm-6 col-md-4">

                <h3 style="align-items: center;justify-content: center;display: flex"> {{ request.user.first_name }} has {{ patients.count }}
                    Patient/s</h3>

                </br >
                </br >
            </div>

        </div>

    </section>


    <section class="bodyuser py-3"> 

        <div class="container">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Message</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>

                </tr>
                </thead>
                <tbody>

                {% for pat in patients %}
                    <tr>

                        <td>{{ pat.full_name }}</td>
                        <td> {{ pat.phone_number }}</td>
                        <td> {{ pat.message }}</td>
                        <td> {{ pat.date }}</td>
                        <td>

                            <a href="{% url 'authenticate_me:delete-patient' pat.id %}">
                                {% comment %} <span class="glyphicon glyphicon-trash"></span> {% endcomment %}
                                <p>delete</p>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </section>

{% endblock %}
