{% extends 'base.html' %}

{% block title %}password change{% endblock title %}

{% block styletag %}
.footer, #footer{
        position: absolute;
        bottom: 0%;
        left: 0%;
}
{% endblock styletag %}

{% block body %}

<div class="container">
<h1>Change password</h1>
<hr>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary">Change password</button>
    </form> 
</div>
</div>
{% endblock body %}