{% extends 'base.html' %}
{% load static %}

{% block title %}home1.html{% endblock title %}

{% block styletag %}
.footer, #footer{
        position: absolute;
        bottom: 0%;
        left: 0%;
}
.bodyuser{
    background-color: #f7ddbb;
    height: 650px;
    
  }
  h3{
    font-size: 40px!important;
    font-weight: 700!important;
  }
{% endblock styletag %}



{% block body %}

   <!-- ***** Welcome Area Start ***** -->
   {% comment %} <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax"  style="background-image: url('{% static '#' %}');">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms">We Believe Everyone Should Have Easy Access To Great Health Care</h2>


                <div class="welcome-btn-group">

                    <form id="job-main-form" method="get" action="{% url 'appointment:search' %}" class="search-doctor-form">
                    <div class="row mb-5">


                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                            <input type="text" id="location" name="location"
                                   class="form-control form-control-lg" placeholder="Any Location ?  Ex : Uttara, Dhaka">
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">


                            <select id="department" name="department" class="form-control">
                                <option style="display: none;" >Select Your Service</option>
                                <option>Cardiology</option>
                                <option>Dentistry</option>
                                <option>ENT Specialists</option>
                                <option>Astrology</option>
                                <option>Neuroanatomy</option>
                                <option>Blood Screening</option>
                                <option>Eye Care</option>
                                <option>Physical Therapy</option>
                            </select>
                        </div>


                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                            <button type="submit" class="btn btn-primary btn-lg btn-block text-black btn-search"><span
                                    class="icon-search icon mr-2"></span>Search Doctor
                            </button>
                        </div>
                    </div>
                </form>




                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax"  style="background-image: url('{% static 'img/bg-img/3.jpg' %}');">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInDown" data-delay="100ms">We Believe Everyone Should Have Easy Access To Great Health Care</h2>
                <div class="welcome-btn-group">

                    <form id="job-main-form" method="get" action="{% url 'appointment:search' %}" class="search-doctor-form">
                    <div class="row mb-5">


                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                            <input type="text" id="location" name="location"
                                   class="form-control form-control-lg" placeholder="Any Location ?  Ex : Uttara, Dhaka">
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">


                            <select id="department" name="department" class="form-control">
                                <option style="display: none;" >Select Your Service</option>
                                <option>Cardiology</option>
                                <option>Dentistry</option>
                                <option>ENT Specialists</option>
                                <option>Astrology</option>
                                <option>Neuroanatomy</option>
                                <option>Blood Screening</option>
                                <option>Eye Care</option>
                                <option>Physical Therapy</option>
                            </select>
                        </div>


                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                            <button type="submit" class="btn btn-primary btn-lg btn-block text-black btn-search"><span
                                    class="icon-search icon mr-2"></span>Search Doctor
                            </button>
                        </div>
                    </div>
                </form>




                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}



    <section class="bodyuser section-padding-35-0">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                         </br>

                        <h3 class="lead">Available Appointment</h3>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="row">


                {% for apt in home %}
                  
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card mb-2">
                        {% if request.user.is_authenticated and request.user.is_user %} 

                            {% if apt.image %}
                            <img src="#" class="card-img-top" alt="img">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{apt.full_name }}</h5> 
                                <p class="card-text">{{ apt.department }} Expert</p>
                                <p class="card-text">{{apt.qualificaton}}</p>
                                <p class="card-text"> Available {{ apt.start_time }} to {{ apt.end_time }} in {{ apt.hospital_name }}</p>
                                <p class="card-text">AT {{ apt.location }}</p>
                                <p class="card-text"><small class="text-muted">3 min ago:</small></p>
                                <a href="{% url 'appointment:book-appointment' %}"
                                   class="btn btn-success">
                                    Book Appointment
                                </a>
                            </div>

                        {% elif user.is_authenticated and user.is_doctor %}

                            {% if apt.image %}
                            <img src="#" class="card-img-top" alt="img">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{apt.full_name }}</h5> 
                                <p class="card-text">{{ apt.department }} Expert</p>
                                <p class="card-text">{{apt.qualificaton}}</p>
                                <p class="card-text"> Available {{ apt.start_time }} to {{ apt.end_time }} in {{ apt.hospital_name }}</p>
                                <p class="card-text">AT {{ apt.location }}</p>
                                <a href="{% url 'authenticate_me:delete-appointment' apt.id %}"><p>Delete</p></a>
                                <p class="card-text"><small class="text-muted">3 min ago:</small></p>
                            </div>
                            
                            {% else %}

                            {% if apt.image %}
                            <img src="#" class="card-img-top" alt="img">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{apt.full_name }}</h5> 
                                <p class="card-text">{{ apt.department }} Expert</p>
                                <p class="card-text">{{apt.qualificaton}}</p>
                                <p class="card-text"> Available {{ apt.start_time }} to {{ apt.end_time }} in {{ apt.hospital_name }}</p>
                                <p class="card-text">AT {{ apt.location }}</p>
                                <p class="card-text"><small class="text-muted">3 min ago:</small></p>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}


                {% comment %} <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
                </div>
            </div>
        </div>
    </section> {% endcomment %}


{% endblock body %}